tqdm==4.65.0
numpy
pandas
matplotlib
matplotlib-inline
scikit-image==0.20.0
scikit-learn
facenet-pytorch==2.5.3
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
mmcv==2.0.0
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60
Pillow==9.4.0
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter